* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    width: 450px;
    padding: 50px;

    background-color: white;
    border-radius: 15px;

    text-align: center;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
}

#timer {
    font-size: 70px;
    font-weight: bold;
    color: #333;
}